
body {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
}

main {
    display: flex;
    gap: 100px;
}

#site-title {
    font-family: "Sixtyfour", sans-serif;
    padding-bottom: 50px;
}

.actions-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-container,
.branches-container {
    max-width: 420px;
}

#new-branch-form-container {
    display: none;
}

#new-member-form-container {
    display: none;
}
